// This is the Dinner and Breakfast CSS...........

#container
{
width:1200px; 
height:300px;
}
#fortable
{
float:left;
}
h1
{
background-color:green;
font-style:italic;
text-align:center;
font-size:35px;
margin-top:0px;
}
body
{
Background-color:yellow;
margin:0px;
padding:0px;
border:0px;
}
td
{
height:200px;
width:200px;
vertical-align:top;
text-align:center;
color:green;
}
th
{
text-align:center;
height:50px;
weight:50x;
}
h2
{
color:green;
text-align:center;
}
p
{
color:green;
text-align:center;
margin:0;
}
table2
{
float:right;
}
th2
{
text-align:center;
}
#total
{
width:300px;
height:500px;
float:right;
}

#myForm,#Bform
{
display:none;
}